# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log
logs/

# Project specific
uploads/
output*.log

# Large files
*.pth
*.pth.tar
saved_model/
